{% extends "base.html" %}

{% load static %}

{% block aside %}
<li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'school' id=school.id %}" aria-expanded="false"><i class="far fa-lightbulb"></i><span class="hide-menu">Home</span></a></li>
{% if log == 'school' %}
<li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'update-school' id=school.id %}" aria-expanded="false"><i class="far fa-lightbulb"></i><span class="hide-menu">Settings</span></a></li>
{% elif log == 'student' %}
<li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'update-student' id=id %}" aria-expanded="false"><i class="far fa-lightbulb"></i><span class="hide-menu">Settings</span></a></li>
{% elif log == 'teacher' %}
<li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'update-teacher' id=id %}" aria-expanded="false"><i class="far fa-lightbulb"></i><span class="hide-menu">Settings</span></a></li>
{% elif log == 'non-staff' %}
<li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'update-nstaff' id=id %}" aria-expanded="false"><i class="far fa-lightbulb"></i><span class="hide-menu">Settings</span></a></li>
{% endif %}
{% endblock %}

{% block content %}
<br>
<div class="row">
  <div class="col-md-6">
    <div class="card card-body">
      <p>Are you sure you want to delete {{ item.name }}</p>
      <form action="{% url 'delete' id=item.id %}" method="POST">
        {% csrf_token %}
        <a class="btn btn-warning" href="{% url 'home' %}">Cancel</a>
        <input class="btn btn-danger" type="submit" name="Confirm">
      </form>
    </div>
  </div>
</div>




{% endblock %}
