{% extends "base.html" %}
{% block aside %}
{% include "navbar.html" %}
(% endblock %)
{% endblock %}
{% load static %}


{% block content %}
<br>
<div class="row">
  <div class="col-md-6">
    <div class="card card-body">
      <form action="" method="POST">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset %}
          {{ form }}
          <hr>
        {% endfor %}
        <button class="btn-submit" type="submit">Submit</button>
      </form>
    </div>

  </div>
</div>
<script>
  const form = document.querySelector("form")
  const btn = document.querySelector(".btn-submit")
  form.addEventListener('submit', function(e) {
    btn.disabled = true;
  })
</script>

{% endblock %}