
{% extends "base.html" %}
{% load static %}
{% block aside %}
{% if admin_check %}
<li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'home' %}" aria-expanded="false"><i class="far fa-lightbulb"></i><span class="hide-menu">Home</span></a></li>
<li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'students' %}" aria-expanded="false"><i class="far fa-lightbulb"></i><span class="hide-menu">Students</span></a></li>
<li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'teachers' %}" aria-expanded="false"><i class="far fa-lightbulb"></i><span class="hide-menu">Teachers</span></a></li>
<li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'nstaff' %}" aria-expanded="false"><i class="far fa-lightbulb"></i><span class="hide-menu">Non Teaching Staff</span></a></li> 
{% else %}
<li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'school' id=school.id %}" aria-expanded="false"><i class="far fa-lightbulb"></i><span class="hide-menu">Home</span></a></li>
{% if log == 'school' %}
<li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'update-school' id=id %}" aria-expanded="false"><i class="far fa-lightbulb"></i><span class="hide-menu">Settings</span></a></li>
{% elif log == 'student' %}
<li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'update-student' id=id %}" aria-expanded="false"><i class="far fa-lightbulb"></i><span class="hide-menu">Settings</span></a></li>
{% elif log == 'teacher' %}
<li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'update-teacher' id=id %}" aria-expanded="false"><i class="far fa-lightbulb"></i><span class="hide-menu">Settings</span></a></li>
{% elif log == 'non-staff' %}
<li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'update-nstaff' id=id %}" aria-expanded="false"><i class="far fa-lightbulb"></i><span class="hide-menu">Settings</span></a></li>
{% endif %}
{% endif %}
{% endblock %}

{% block content %}
<!-- {% load school_extras %} -->
<style>
  .profile-pic {
    width: 8rem;
    height: 8rem;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 50%;
  }
</style>


<br>
<div class="row">
  <div class="col-md-12">
    <div class="card card-body">
      <h3 class="text-center">{{ school.name }}</h3>
      <hr>
      {% if request.user.school.profile_pic %}
      <img class="profile-pic" src="{{ request.user.school.profile_pic.url }}">
      {% else %}
      <img class="profile-pic" src="">
      {% endif %}
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md">
    <div class="card card-body">
      <h5>Contact Information:</h5>
      <hr>
      <p>Email: <a href="">{{ school.email }}</a></p>
      <p>Phone: {{ school.phone }}</p>
    </div>
  </div>
  <div class="col-md">
    <div class="card card-body">
      <h5>Total Students:</h5>
      <hr>
      <h1 style="text-align: center; padding:10px">{{ student_count }}</h1>
    </div>
  </div>
  <div class="col-md">
    <div class="card card-body">
      <h5>Total Teachers:</h5>
      <hr>
      <h1 style="text-align: center; padding:10px">{{ teacher_count }}</h1>
    </div>
  </div>
</div>
<br>
<div class="card card-title align-self-center d-flex flex-row justify-content-center">
  <form method="get">
    {{ my_filter_student.form }}
    <button class="btn btn-primary" type="submit">Search</button>
  </form>
</div>
<div class="row">
  <div class="col-md">
    <div class="card card-body">
      <div class="card card-title">Students</div>
      <table class="table table-sm">
        <thead>
          <tr>
            <th>Name</th>
            <th>Grade</th>
            {% if school_check %}
            <th></th>
            {% endif %}
          </tr>
        </thead>
        {% for i in page_student.object_list %}
        <tr>
          <td><a href="">{{ i.name }}</a></td>
          <td>{{ i.grade }}</td>
          {% if school_check %}
          <td><a class="btn btn-sm btn-danger" href="{% url 'delete-student' id=i.id %}">Delete</a></td>
          {% endif %}
        </tr>
        {% endfor %}
      </table>
      <ul class="pagination justify-content-center d-flex flex-md-row flex-column">
        {% if page_student.has_previous %}
        <li class="page-item d-flex flex-row-2"><a href="{% my_url value=1 field_name='page_student' urlencode=request.GET.urlencode %}" class="page-link">First</a></li>
        <li class="page-item row-2"><a href="{% my_url value=page_student.previous_page_number field_name='page_student' urlencode=request.GET.urlencode %}" class="page-link">Previous</a></li>
        {% else %}
        <li class="disabled page-item"><a href="" class="page-link">First</a></li>
        <li class="disabled page-item"><a href="" class="page-link">Previous</a></li>
        {% endif %}
        {% for i in page_student_range|default_if_none:page_student.paginator.get_elided_page_range %}
          {% if page_student.number == i %}
            <li class="active page-item"><span class="page-link">{{ i }}</span></li>
          {% else %}
            {% if i == page_student.paginator_student.ELLIPSIS %}
              <li class="page-item"><span class="page-link">{{ i }}</span></li>
            {% else %}
              <li class="page-items"><a class="page-link" href="{% my_url value=i field_name='page_student' urlencode=request.GET.urlencode %}">{{ i }}</a></li>
            {% endif %}
          {% endif %}
        {% endfor %}
  
        {% if page_student.has_next %}
        <li class="page-item"><a href="{% my_url value=page_student.next_page_number field_name='page_student' urlencode=request.GET.urlencode %}" class="page-link">Next</a></li>
        <li class="page-item"><a href="{% my_url value=page_student.paginator.num_pages field_name='page_student' urlencode=request.GET.urlencode %}" class="page-link">Last</a></li>
        {% else %}
        <li class="disabled page-item"><a href="" class="page-link">Next</a></li>
        <li class="disabled page-item"><a href="" class="page-link">Last</a></li>
        {% endif %}
      </ul>
      {% if school_check %}
      <p><a class="btn btn-sm btn-primary" href="{% url 'add-student' id=school.id %}">Add</a></p>
      {% endif %}
    </div>
  </div>
  <div class="col-md">
    <div class="card card-body">
      <div class="card card-title">Teachers</div>
      <table class="table table-sm orders-table">
        <tr>
          <th>Name</th>
          <th>Grade</th>
          {% if school_check %}
          <th></th>
          {% endif %}
        </tr>
        {% for i in page_teacher.object_list %}
        <tr>
          <td><a href="">{{ i.name }}</a></td>
          <td>{{ i.grade }}</td>
          {% if school_check %}
          <td><a class="btn btn-sm btn-danger" href="{% url 'delete-teacher' id=i.id %}">Delete</a></td>
          {% endif %}
        </tr>
        {% endfor %}
      </table>
      <ul class="pagination justify-content-center d-flex flex-md-row flex-column">
        {% if page_teacher.has_previous %}
        <li class="page-item"><a href="{% my_url value=1 field_name='page_teacher' urlencode=request.GET.urlencode %}" class="page-link">First</a></li>
        <li class="page-item"><a href="{% my_url value=page_teacher.previous_page_number field_name='page_teacher' urlencode=request.GET.urlencode %}" class="page-link">Previous</a></li>
        {% else %}
        <li class="disabled page-item"><a href="" class="page-link">First</a></li>
          <li class="disabled page-item"><a href="" class="page-link">Previous</a></li>
        {% endif %}
        {% for i in page_teacher_range|default_if_none:page_teacher.paginator.get_elided_page_range %}
          {% if page_teacher.number == i %}
            <li class="active page-item"><span class="page-link">{{ i }}</span></li>
          {% else %}
            {% if i == page_teacher.paginator.ELLIPSIS %}
              <li class="page-item"><span class="page-link">{{ i }}</span></li>
            {% else %}
              <li class="page-items"><a class="page-link" href="{% my_url value=i field_name='page_teacher' urlencode=request.GET.urlencode %}">{{ i }}</a></li>
            {% endif %}
          {% endif %}
        {% endfor %}
  
        {% if page_teacher.has_next %}
        <li class="page-item"><a href="{% my_url value=page_teacher.next_page_number field_name='page_teacher' urlencode=request.GET.urlencode %}" class="page-link">Next</a></li>
        <li class="page-item"><a href="{% my_url value=page_teacher.paginator.num_pages field_name='page_teacher' urlencode=request.GET.urlencode %}" class="page-link">Last</a></li>
        {% else %}
        <li class="disabled page-item"><a href="" class="page-link">Next</a></li>
        <li class="disabled page-item"><a href="" class="page-link">Last</a></li>
        {% endif %}
      </ul>
      {% if school_check %}
      <p><a class="btn btn-sm btn-primary" href="{% url 'add-teacher' id=school.id %}">Add</a></p>
      {% endif %}
    </div>
  </div>
</div>

<h2>Non Staff</h2>

<div class="card card-body">
  <table class="table table-sm orders-table">
    <tr>
      <th>Name</th>
      <th>Designation</th>
      {% if school_check %}
      <th></th>
      {% endif %}
    </tr>
    {% for i in nstaff %}
    <tr>
      <td><a href="">{{ i.name }}</a></td>
      <td>{{ i.designation }}</td>
      {% if school_check %}
      <td><a class="btn btn-sm btn-danger" href="{% url 'delete-nstaff' id=i.id %}">Delete</a></td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
  {% if school_check %}
  <p><a class="btn btn-sm btn-primary" href="{% url 'add-nstaff' id=school.id %}">Add</a></p>
  {% endif %}
</div>


{% endblock %}