<div class="row">

  <div class="col">
    <div class="col-md">
      <div class="card text-center text-white mb-3" id="schools">
        <div class="card-header">
          <h5 class="card-title">Total Schools</h5>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ school_count }}</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="col-md">
      <div class="card text-center text-white mb-3" id="students">
        <div class="card-header">
          <h5 class="card-title">Total Students</h5>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ student_count }}</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="col-md">
      <div class="card text-center text-white mb-3" id="teachers">
        <div class="card-header">
          <h5 class="card-title">Total Teachers</h5>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ teacher_count }}</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="col-md">
      <div class="card text-center text-white mb-3" id="n-staff">
        <div class="card-header">
          <h5 class="card-title">Total Non-Teaching Staff</h5>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ nstaff_count }}</h5>
        </div>
      </div>
    </div>
  </div>


</div>